html {height: 100%;}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
}
.footer{
    margin-top: auto;
}

.header{
    display:flex;
    justify-content:space-around;
    flex-shrink:0 1 auto;
   /* align-items: center;*/
    padding:1%;
}
#header-logo{
    width: 4%;
    height: auto;
}
#header-links{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.02;
}
#header-links a{
color:#e5e7eb;
text-decoration: none;
}

.first{
    display: flex;
    justify-content: space-evenly;
    padding:2%;
}
#right-side-top{
    width: 15%;
    height: auto;
}
#left-side-top h2{
color:#f9faf8;
font-size: 48px;
margin-bottom:0;
}
#left-side-top p{
color:#f9faf8;
margin-top:0;
margin-bottom:1%;
font-size:24px;
}
#left-side-top button{   
background-color: #3882f6;
border-radius: 5px;
font-size:20px;
border-color: #3882f6;
color:#f9faf8;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second h1{
    color:#1f2937;
}
#four-panels-container{
display: flex;

}
.second #four-panels-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   
}
.second #four-panels-container div img{
    width: 30%;
    height: auto;
    
}
.under-img{
    flex-shrink: 1;
    color:gray;
}


.third{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
}
#quote{

    font-size: 300%;
    margin-bottom:0;
    text-align: left; 
    width: 30%; 
    white-space: normal;
 color:#1f2937;
 font-style: italic;
 font-weight: lighter;

}
#author{
    font-size: 200%;
    margin-top:0;
    text-align: right;
    width: 30%; 
    color:#1f2937;
    
  

}


.fourth{
display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
}
#blue-box-container{
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
   width:45%;
   gap:20%;
   align-items: center;
   border-radius: 25px;

}
#toptext{
    margin-bottom:0;
}
#bottomtext{
    margin-top:0;
}
#left-side-bottom > *{
    color:#e5e7eb
}
#right-side-bottom > *{
    color:#e5e7eb;
    border-color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    font-size:20px;
}

.footer{
    display: flex;
    justify-content: center;
}
.footer > *{
    color: #e5e7eb;
    font-size: 18px;
}

.footer,.header,.first{
    background-color: #1F2937;
}

